main {
  max-width: 1200px;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
}

body {
  color: #F5F4F0;
}


.viagem {
  font-size: 16px;
  color: #E1624F;
  text-transform: uppercase;
  

}

.titulo {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: -3px;/* deixa as letras mais próximas */
  transform: scaleX(0.95);
  transform-origin: left;
  color: #1B1B1B;
 
}

.fstimg {
 display: block;
 width: 1120;
 height: 729;
}

.descricao {
  text-align: center;
  width: 1120;
  height: 37;
  font-style: italic;
  color: #333333;
}

.historia {
  font-size: 16px;
  color: #E1624F;
  text-transform: uppercase;
  width: 255px;
  height: 22px;
}

.descubra {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: -1px;/* deixa as letras mais próximas */
  transform: scaleX(0.95);
  transform-origin: left;
  margin-top: auto;
  color: #1B1B1B;
}

.pp {
  text-align: justify;
  width: 1100px;
  height: 88;
  font-style: normal;
  font-weight: normal;
  color: #333333;
  
}

p {
  color: #333333;
}

.bom-para {
 color:#1B1B1B;
 font-weight: bold;
}

.historia1 {
  color: #0C51A7;
  font-weight: bold;
}

.historia2 {
  color: #0C51A7;
  font-weight: bold;
}

.bom-para2 {
  color:#1B1B1B;
 font-weight: bold;
}

.titulo1 {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: -1px;/* deixa as letras mais próximas */
  transform: scaleX(0.95);
  transform-origin: left;
  margin-top: auto;
  color: #1B1B1B;
}

.titulo2 {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: -1px;/* deixa as letras mais próximas */
  transform: scaleX(0.95);
  transform-origin: left;
  margin-top: auto;
  color: #1B1B1B;
}

.titulo3 {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: -1px;/* deixa as letras mais próximas */
  transform: scaleX(0.95);
  transform-origin: left;
  margin-top: auto;
  color: #1B1B1B;
}

.Casais {
  color: #591B98;
  font-weight: bold;
}

.Familias {
  font-weight: bold;
  color: #E5245E;
}

.Orçamento {
  font-weight: bold;
  color: #E95E10;
}

.final {
  text-align: center;
  font-size: 17px;
}

footer {
  text-align: center;
  color: #1B1B1B;
}