main {
  max-width: 1200px;
  margin: auto;
}

body {
  color: #F5F4F0;
}


.viagem {
  font-size: 16px;
  color: #E1624F;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  

}

.titulo {
  font-size: 36px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: -3px;/* deixa as letras mais próximas */
  transform: scaleX(0.95);
  transform-origin: left;
  color: #1B1B1B;
 
}

.fstimg {
 display: block;
 width: 1120;
 height: 729;
}

.descricao {
  text-align: center;
  width: 1120;
  height: 37;
  font-style: italic;
  color: #333333;
}

.historia {
  font-size: 16px;
  color: #E1624F;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  width: 255px;
  height: 22px;
}

.descubra {
  font-size: 36px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: -1px;/* deixa as letras mais próximas */
  transform: scaleX(0.95);
  transform-origin: left;
  margin-top: auto;
  color: #1B1B1B;
}

.pp {
  text-align: justify;
  width: 1100px;
  height: 88;
  font-style: normal;
  font-weight: normal;
  color: #333333;
  
}